body {
  background: black;
  color: white;
  font-family: OCRA;
}
.line {
  white-space: pre-wrap;
}

a {
  color: lightgreen;
  text-decoration: none;
  cursor: pointer;
}

@keyframes blink {  
  0% { color: inherit; }
  100% { color: transparent; }
}
#cursor {
  -webkit-animation: blink 1s steps(4, start) infinite;
  display: inline-block;
  width: 0.5em;
  background: white;
  height: 1em;
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@font-face {
  font-family: 'OCRA';
  src: url('assets/ocra-webfont.eot');
  src: url('assets/ocra-webfont.eot?#iefix') format('embedded-opentype'),
       url('assets/ocra-webfont.woff') format('woff'),
       url('assets/ocra-webfont.ttf') format('truetype'),
       url('assets/ocra-webfont.svg#ocraregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

canvas {
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  cursor: crosshair;
}


.buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}
.buttons button {
  font-family: inherit;
}
